
//@theme "/home/arminas/.local/share/rofi/themes/rounded-nord-dark.rasi"

//@theme "/home/arminas/.local/share/rofi/themes/rounded-nord-dark.rasi"

//@theme "/home/arminas/.local/share/rofi/themes/squared-material-red.rasi"

//@theme "/home/arminas/.local/share/rofi/themes/windows11-list-dark.rasi"

@theme "/home/arminas/.local/share/rofi/themes/squared-material-red.rasi"
